:root {
    --color1: #FFFFFF; /*text color*/
    --color2: #ED1C24; /*window color*/
    --color3: #ED1C24; /*bg color*/
    --color4: #000000; /*#a1f4c3*/
    --color4: #000000; /*#ff0073*/
    --color5: #000000; /*#ff0000*/
    --pink: #8888dd;
    --green: #00b300;
    --deffont: Arial

}

body {
 color: var(--color1);
 font-family: var(--deffont);
}

a {max-width:480px;word-wrap: break-word;}
@font-face { font-family: vcr; src: url('vcr.ttf');  }
.document{font-size:10pt}
.document h6{font-family:'Arial', sans-serif}.document h1{font-size:14pt;font-weight:bold}
.document h2{font-size:12pt;font-weight:bold;font-style:italic;color:var(--color1)}
.document h1{font-size:20pt;font-weight:bold;color:var(--color1)}
.document h3{font-size:12pt;font-weight:normal}
.document table{font-size:10pt}
.window{font-size:11px;background:var(--color2);padding:3px;max-width:512px;margin:0 auto}
.windowtop{font-size:11px;background:var(--color2);padding:3px;max-width:512px;margin:0 auto}
.window fieldset{margin-bottom:9px}
.title-bar{font-size:11px;padding:3px 2px 3px 3px;align-items:center;}
.title-bar-text{margin-top:20px;font-size:32px; display:flex;padding:2px;justify-content:center;color:var(--color1);letter-spacing:0;text-align:center;text-decoration:none}
.document-content{display:flex;;padding:10px;justify-content:center;padding-block-start:8px;max-height:calc(200vh - 173px);}
.player-content{text-align:center;padding:10px;padding-block-start:8px;max-height:calc(200vh - 173px);}
.document-content img{max-width:256px;justify-content:center;}
.navigation-icons{display:flex;padding:2px;justify-content:center;font-size:12px}
.navigation-icons a,
.navigation-icons a:link{color:var(--color1);text-decoration:none}
.navigation-icon{display:flex;flex-direction:column;text-align:center;height:16px;padding:4px;cursor:pointer}
.navigation-icon:hover{box-shadow:inset -1px -1px var(--color1),inset 1px 1px var(--color1)}
.navigation-icon:active{box-shadow:inset -1px -1px var(--color1),inset 1px 1px red}body{-webkit-font-smoothing:none;font-size:8pt;background:var(--color3);margin:12px}
.drop-icons{display:flex;padding:2px;justify-content:left;}
.social-icons{display:flex;padding:2px;justify-content:right;font-size:12px}
.social-icon{display:flex;flex-direction:column;text-align:center;width:16px;height:16px;padding:4px;cursor:pointer}
.center-container{height:600px;max-height:100%;margin:auto;}
.window-body{margin:1px;}vr{;margin:2px 3px;}
.statusbar{padding:1px;display:flex}
.statusbar{justify-content:right;color:var(--color1)}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 512px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.cooldiv
{
       height: 4px; 
          max-width:512px;
            width:100%; 
            background-color: var(--color4);
            margin: auto; 
        }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}